      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow-y: scroll;
        /*overflow:hidden;*/
      }
	  /*body:hover {
      	overflow-y: scroll;
      }*/     
      .sidebar-nav {
        padding: 9px 0;
      }      
      .sidebar-nav-fixed {
	      position:fixed;
	      top:60px;
	      width:21.97%;
	  }
	  #title2 {
	  	  display: none;
	  }	
	  #logo {
	  	  /*padding: 0px 5px 0px;*/
	  }
	  
	  .navbar-text{
	  	margin-bottom: 0;
	  	margin-top: 10px;
	  	line-height: 40px;
	  	color: #777;
	  }
	  
	  .navbar-search{
	  	float: left;
	  	margin-top: 12px;
	  	margin-bottom: 0;
	  }
	  
	  #sketchDescription {
			width: 300px;
			height: 125px;
			resize: none;
	  }

	  #SaveSketch{
			height: auto;
			width: auto;
	  }
	  
	  #SaveSketch .well{			
			margin-bottom: 0px;  
	  }
	  
	  #SaveSketch .modal-body{			
			overflow-y: hidden; 
	  }	  	  

	  #SaveAsSketch{
			height: auto;
			width: auto;
	  }
	  
	  #SaveAsSketch .well{			
			margin-bottom: 0px;  
	  }
	  
	  #SaveAsSketch .modal-body{			
			overflow-y: hidden; 
	  }	  	  
	  

	  @media (max-width: 767px) {
	      .sidebar-nav-fixed {
	        position:static;
	        width:auto;
	      }
	      #topbar {
	      	padding-left: 20px;
	      	padding-right: 20px;
	      	position:fixed;
	      	width:auto;
	      }
	              
	  }	
	  @media (max-width: 979px) {
	      .sidebar-nav-fixed {
	        top:70px;
	      }
	      #topbar {	      
	      	position:fixed;
	      	width:auto;
	      }
	      #main {
	      	overflow: hidden;
	      	padding-top:10px;
	      }
		  .navbar-text{
		  	margin-bottom: 0;
		  	margin-top: 0px;
		  	line-height: 40px;
		  	color: #777;
		  }  	     	      
	  }
	  
	  textarea {
		  width: 100%;
		  padding: 1px;
		  border: 3px solid #999;
		  /*display: none;*/
	  }
	
	  #main {
      	  overflow: hidden;
	  }

      				
	  #visibleTextData { 
		  display: none;
	  }
	  
	  #swfcontainer {
	  	  width: 99%;	  	  
	  	  margin-top: 5px;
	  	  border: 2px solid #999;
	  	  -webkit-border-radius: 5px; /* Safari/Chrome, other WebKit */
		  -moz-border-radius: 5px;    /* Firefox, other Gecko */
		  border-radius: 5px;	  	  /* Opera/IE 8+ */ 
	  }